{
    "swagger": "2.0",
    "info": {
        "title": "Wallarm API",
        "description": "Authorization\n\nThere are two ways to authorize your API calls:\n\n* Log in to [your Wallarm account](https://my.wallarm.com/)\n* Use your [API token](https://docs.wallarm.com/user-guides/settings/api-tokens/#configuring-tokens).\n\nRouting\n\n* All routes get parameters in JSON format.\n* v2 routes get parameters in JSON, form, and GET.\n",
        "version": "1.28.2",
        "contact": {
            "name": "Wallarm Support Team",
            "email": "support@wallarm.com"
        },
        "license": {
            "name": "Proprietary"
        }
    },
    "host": "us1.api.wallarm.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "paths": {
        "/v1/objects/vuln/count": {
            "post": {
                "summary": "Fetch vulnerabilities count by filter",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`id` is a unique identifier for a specific vulnerability. It can be used for accurately referencing and retrieving detailed information about the vulnerability from Wallarm's system."
                                        },
                                        "!id": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!id` is a unique identifier for a specific vulnerability. It can be used for precise tracking and counting of vulnerabilities within the system."
                                        },
                                        "clientid": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`clientid` is a unique identifier for a specific Wallarm account. It can be used for ensuring that API requests are directed to the correct account's data in a multi-tenant environment."
                                        },
                                        "!clientid": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!clientid` is a unique identifier for a Wallarm account or tenant. It can be used for authenticating API requests and ensuring operations are performed within the correct tenant context."
                                        },
                                        "testrun_id": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`testrun_id` is a unique identifier for a specific test run. It can be used for correlating vulnerability counts with a particular test execution, ensuring accurate and relevant data analysis."
                                        },
                                        "!testrun_id": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!testrun_id` is a unique identifier for a specific test run. It can be used for tracking and referencing the results and details of that particular test execution within the system."
                                        },
                                        "validate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`validate_time` is the duration for which validation remains active. It can be used for ensuring timely completion of validation checks, thereby enhancing both security and efficiency."
                                        },
                                        "!validate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!validate_time` is the duration limit set for validation processes. It can be used for preventing validation operations from exceeding a specified timeframe, thus enhancing performance and efficient resource management."
                                        },
                                        "invalidate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`invalidate_time` is the period after which vulnerability data is considered outdated. It can be used for maintaining the relevance and accuracy of security assessments by ensuring counts reflect only recent data."
                                        },
                                        "!invalidate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!invalidate_time` is the duration for which data remains valid. It can be used to ensure that cached vulnerability count data is refreshed after the specified period, maintaining data accuracy."
                                        },
                                        "time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`time` is a timestamp marking when data was recorded. It can be used for analyzing trends and conducting security assessments by filtering vulnerability count data within specific periods."
                                        },
                                        "!time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!time` is a timestamp marking the event recording moment. It can be used for analyzing trends and patterns in vulnerability detections over time."
                                        },
                                        "threat": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`threat` is a parameter indicating the severity level of a vulnerability. It can be used for visually representing the risk in the Wallarm interface, where higher values signify more severe threats."
                                        },
                                        "!threat": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!threat` is an integer representing the severity of a detected vulnerability. It can be used for prioritizing vulnerabilities based on their threat level, aiding in efficient risk management."
                                        },
                                        "method": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`method` is the specified action for the request. It can be used for determining the operation type, such as counting vulnerabilities."
                                        },
                                        "!method": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!method` is the HTTP request method for the API operation. It can be used for defining the specific action, such as retrieving, creating, updating, or deleting data."
                                        },
                                        "domain": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`domain` is the specific domain name for the request. It can be used for filtering vulnerability counts to enhance targeted security analysis and management."
                                        },
                                        "!domain": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!domain` is the domain name for filtering vulnerability data. It can be used for accurately targeting vulnerability counts specific to that domain."
                                        },
                                        "path": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`path` is an array detailing the sequence of elements in a URI path. It can be used for ensuring request uniqueness and enforcing API specifications by parsing each segment of the path."
                                        },
                                        "!path": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!path` is an array detailing the sequence of elements in a URI path. It can be used for ensuring unique request identification and maintaining the correct format of path elements during parsing."
                                        },
                                        "parameter": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`parameter` is a key input for defining specific criteria. It can be used for accurately filtering and counting vulnerabilities, ensuring relevant results."
                                        },
                                        "!parameter": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!parameter` is a specific parameter within the request body. It can be used for identifying and analyzing sensitive data formats or session states transmitted through the parameter."
                                        },
                                        "pool": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`pool` is a group of resources for workload distribution. It can be used for optimizing performance and resource utilization across multiple servers."
                                        },
                                        "!pool": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!pool` is a parameter representing a specific group or category of vulnerabilities. It can be used for filtering or organizing vulnerability data based on predefined criteria or classifications."
                                        },
                                        "scid": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`scid` is a unique identifier for a specific security context. It can be used for filtering vulnerability counts, enabling more precise analysis and reporting."
                                        },
                                        "!scid": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!scid` is a unique identifier for a specific security context. It can be used for correlating vulnerability counts with particular security scenarios or contexts within the application."
                                        },
                                        "vuln_recheck_type": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`vuln_recheck_type` is the method chosen for re-evaluating a vulnerability. It can be used for ensuring the security assessment remains accurate and current by specifying the recheck approach."
                                        },
                                        "!vuln_recheck_type": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!vuln_recheck_type` specifies the recheck method for vulnerabilities. It ensures precise and current security evaluations by defining how the system reassesses detected issues."
                                        },
                                        "hidden": {
                                            "type": "boolean",
                                            "description": "`hidden` is a boolean parameter indicating data concealment. It can be used for enhancing security by filtering out sensitive or non-essential information in API responses."
                                        },
                                        "!hidden": {
                                            "type": "boolean",
                                            "description": "`!hidden` is a flag for concealing sensitive or internal parameters. It can be used for enhancing security by preventing exposure of critical data to users or external systems."
                                        },
                                        "validated": {
                                            "type": "boolean",
                                            "description": "`validated` is a Boolean parameter indicating vulnerability confirmation status. It can be used for filtering reports to ensure only validated vulnerabilities are included, enhancing result accuracy and relevance."
                                        },
                                        "!validated": {
                                            "type": "boolean",
                                            "description": "`!validated` is a boolean flag indicating validation status of vulnerabilities. It can be used for filtering reports to prioritize confirmed security issues."
                                        }
                                    },
                                    "description": "`filter` is a set of conditions to query vulnerability data. It can be used for refining search results based on specific criteria like client ID, test run ID, validation status, and timestamps."
                                }
                            }
                        },
                        "description": "`body` is the data payload sent in the request. It can be used for transmitting complex data structures such as JSON or form data to the server for processing."
                    }
                ],
                "tags": [
                    "V1",
                    "Vulnerabilities"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the vulnerabilities count by filter",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer",
                                    "description": "`count` is the total number of detected vulnerabilities. It can be used for evaluating security status and guiding remediation priorities."
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/incorrect_params"
                    },
                    "403": {
                        "$ref": "#/responses/not_authentificated"
                    },
                    "default": {
                        "$ref": "#/responses/unexpected_error"
                    }
                }
            }
        },
        "/v1/objects/vuln/update": {
            "post": {
                "summary": "Update vulnerabilities",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "description": "`id` is a unique identifier for a specific vulnerability object. It can be used for updating the details or status of the corresponding vulnerability within the system."
                                        },
                                        "clientid": {
                                            "type": "integer",
                                            "description": "`clientid` is a unique identifier for a specific Wallarm account. It can be used for ensuring that API requests are directed to the correct account's data in a multi-tenant environment."
                                        }
                                    },
                                    "description": "`filter` is a set of conditions to refine data retrieval. It can be used for customizing vulnerability update results by specifying criteria like client ID, test run ID, validation status, and timestamps."
                                },
                                "fields": {
                                    "type": "object",
                                    "properties": {
                                        "last_check": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`last_check` is the timestamp of the last vulnerability check. It can be used for ensuring assessments are up-to-date and maintaining system security."
                                        },
                                        "vuln_recheck_type": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`vuln_recheck_type` is the category of vulnerability recheck to be executed. It can be used for accurately categorizing and prioritizing vulnerabilities in the Wallarm interface."
                                        },
                                        "template": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`template` is a predefined format for structuring vulnerability updates. It ensures consistent and accurate recording and communication of vulnerability data across the system."
                                        },
                                        "template_params": {
                                            "type": "object",
                                            "properties": {
                                                "custom_title": {
                                                    "type": "string",
                                                    "description": "`custom_title` is a user-defined name for a detected vulnerability. It can be used for easier identification and better management of vulnerabilities within the Wallarm interface."
                                                },
                                                "custom_description": {
                                                    "type": "string",
                                                    "description": "`custom_description` is a user-defined string for additional context about a vulnerability. It can be used for improving the clarity and understanding of vulnerability details within the system."
                                                },
                                                "custom_additional": {
                                                    "type": "string",
                                                    "description": "`custom_additional` is an optional parameter for adding extra context to API sessions. It can be used for enhancing session details and improving the accuracy of threat detection and analysis."
                                                }
                                            },
                                            "description": "`template_params` is a collection of customizable values for a template. It can be used for dynamically updating vulnerability data by inserting specific information into predefined fields, ensuring precise and relevant updates."
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "open",
                                                "closed",
                                                "falsepositive"
                                            ],
                                            "description": "`status` is the result code of the vulnerability update request. It can be used for confirming the success or identifying any issues encountered during the update process."
                                        },
                                        "threat": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`threat` is an optional parameter indicating the severity level of a detected vulnerability. It can be used for prioritizing remediation efforts and visually representing the risk level in the Wallarm interface."
                                        },
                                        "title": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Title is the descriptive name assigned to a detected vulnerability. It can be used for identifying specific vulnerabilities and understanding their context within the Wallarm Web Interface."
                                        },
                                        "description": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`description` is a detailed explanation of the detected vulnerability. It can be used for enhancing understanding and facilitating remediation efforts."
                                        },
                                        "additional": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`additional` is an optional parameter for adding extra context or data. It can be used for enhancing the detail and specificity of vulnerability updates, allowing for more comprehensive session analysis and reporting."
                                        },
                                        "exploit_example": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`exploit_example` is a sample exploit for a vulnerability. It can be used for testing and demonstrating the impact of specific security flaws, helping to assess and improve system defenses."
                                        },
                                        "filter": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`filter` is a parameter defining conditions to select specific vulnerability data. It can be used for refining results based on criteria like client ID, test run ID, validation status, and timestamps, ensuring relevant data is retrieved or updated."
                                        },
                                        "validated": {
                                            "type": "boolean",
                                            "description": "`validated` is a boolean flag indicating vulnerability review status. It can be used for filtering results to display only validated or pending vulnerabilities, ensuring accurate tracking and management."
                                        },
                                        "hidden": {
                                            "type": "boolean",
                                            "description": "`hidden` is a boolean parameter indicating vulnerability concealment. It can be used for managing visibility in reports, allowing users to focus on critical issues."
                                        },
                                        "vpatched": {
                                            "type": "boolean",
                                            "description": "`vpatched` indicates if a virtual patch has been applied. It helps ensure security measures are in place by tracking vulnerability mitigation status."
                                        }
                                    },
                                    "description": "`fields` specifies the attributes to include in the vulnerability update. It can be used for tailoring the response to essential information, thereby reducing payload size and enhancing efficiency."
                                }
                            }
                        },
                        "description": "`body` is the data containing updated vulnerability information. It can be used for modifying existing vulnerability records with new details like title, domain, and threat level."
                    }
                ],
                "tags": [
                    "V1",
                    "Vulnerabilities"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the updated vulnerabilities",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "vulns": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "array",
                                                "items": {
                                                    "type": "integer"
                                                },
                                                "description": "`id` is a unique identifier for the detected vulnerability. It can be used for tracking and managing specific vulnerabilities within the system."
                                            },
                                            "wid": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`wid` is a unique identifier for a specific vulnerability. It can be used for tracking and managing the lifecycle of the vulnerability within the system."
                                            },
                                            "template": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`template` is a predefined structure for organizing vulnerability data. It ensures consistency and clarity in presenting and managing vulnerability information within the system."
                                            },
                                            "threat": {
                                                "type": "array",
                                                "items": {
                                                    "type": "integer"
                                                },
                                                "description": "`threat` is an optional parameter indicating the severity level of a detected vulnerability. It can be used for prioritizing remediation actions based on the risk level specified."
                                            },
                                            "clientid": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`clientid` is a unique identifier for a Wallarm account or tenant. It ensures that API operations are authenticated and executed within the correct account context."
                                            },
                                            "testrun_id": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`testrun_id` is a unique identifier for a specific test run. It can be used for tracking and managing the results and status of that particular test execution within the system."
                                            },
                                            "validate_time": {
                                                "type": "array",
                                                "items": {
                                                    "type": "integer"
                                                },
                                                "description": "`validate_time` is the timestamp of the last validation process. It can be used for ensuring the timeliness and recency of vulnerability assessments."
                                            },
                                            "invalidate_time": {
                                                "type": "array",
                                                "items": {
                                                    "type": "integer"
                                                },
                                                "description": "`invalidate_time` is the period after which vulnerability data is considered outdated. It can be used for maintaining the timeliness and accuracy of security assessments.`"
                                            },
                                            "last_check": {
                                                "type": "array",
                                                "items": {
                                                    "type": "integer"
                                                },
                                                "description": "`last_check` is the timestamp of the most recent vulnerability scan. It can be used for monitoring the frequency of security assessments and ensuring up-to-date vulnerability data."
                                            },
                                            "ticket_status": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`ticket_status` indicates the current state of the vulnerability ticket. It helps users monitor the progress and resolution of the reported vulnerability."
                                            },
                                            "ticket_history": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`ticket_history` is a log of updates and changes to a vulnerability ticket. It can be used for monitoring the evolution and modifications of vulnerability reports over time."
                                            },
                                            "method": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`method` is the HTTP method associated with the detected vulnerability. It can be used for pinpointing the exact request type that caused the vulnerability, which is crucial for effective security analysis and remediation."
                                            },
                                            "domain": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`domain` is the web domain linked to the vulnerability update. It can be used for pinpointing and addressing security concerns specific to that domain within the system."
                                            },
                                            "path": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`path` is the URL path where the vulnerability was identified. It can be used for accurately locating the security issue within your system to facilitate effective remediation."
                                            },
                                            "parameter": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`parameter` is the specific attribute linked to a detected vulnerability. It can be used for accurately identifying and categorizing the vulnerable parameter, facilitating targeted remediation actions."
                                            },
                                            "title": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`title` is the descriptive name assigned to a detected vulnerability. It can be used for identifying and categorizing specific vulnerabilities within the system."
                                            },
                                            "description": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`description` is a string detailing the detected vulnerability. It can be used for enhancing understanding and providing context about the specific security issue identified."
                                            },
                                            "additional": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`additional` is an optional parameter providing extra context or details. It can be used for enhancing session context, offering more comprehensive information about detected vulnerabilities or other events."
                                            },
                                            "exploit_example": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "- The generated text has been blocked by our content filters."
                                            },
                                            "filter": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`filter` is a set of conditions to refine vulnerability data. It can be used for specifying criteria like client ID, test run ID, validation status, and timestamp range to narrow down results effectively."
                                            },
                                            "validated": {
                                                "type": "boolean",
                                                "description": "`validated` is a Boolean parameter indicating vulnerability review status. It can be used for filtering results to display only validated or pending vulnerabilities, enhancing result relevance."
                                            },
                                            "hidden": {
                                                "type": "boolean",
                                                "description": "`hidden` is a Boolean parameter indicating vulnerability visibility status. It can be used for customizing the response to display only relevant security issues, enhancing user experience by filtering out less critical vulnerabilities."
                                            },
                                            "vuln_recheck_type": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "`vuln_recheck_type` is the method for re-evaluating a detected vulnerability. It can be used for ensuring precise and updated vulnerability assessments, enhancing security management."
                                            }
                                        }
                                    },
                                    "description": "`vulns` is an array containing detailed information about detected vulnerabilities. It can be used for effectively tracking and managing security issues within your system."
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/incorrect_params"
                    },
                    "403": {
                        "$ref": "#/responses/not_authentificated"
                    },
                    "default": {
                        "$ref": "#/responses/unexpected_error"
                    }
                }
            }
        },
        "/v1/objects/vuln": {
            "post": {
                "summary": "Fetch vulnerabilities",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`id` is a unique identifier for a specific vulnerability object. It can be used for accurately referencing and managing individual vulnerability records within the system."
                                        },
                                        "!id": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!id` is a unique identifier for a detected vulnerability. It can be used for tracking and ensuring accurate referencing of specific vulnerabilities within the system for further analysis or remediation."
                                        },
                                        "clientid": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`clientid` is a unique identifier for a specific Wallarm account. It can be used for ensuring that API requests are directed to the correct account in a multi-tenant environment."
                                        },
                                        "!clientid": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!clientid` is a unique identifier for a Wallarm account. It can be used for specifying which account's data to access in multi-tenant API requests."
                                        },
                                        "testrun_id": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`testrun_id` is a unique identifier for a specific test run. It can be used for associating vulnerability reports with the corresponding test execution, ensuring accurate tracking and analysis of security assessments."
                                        },
                                        "!testrun_id": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!testrun_id` is a unique identifier for a specific test run. It can be used for tracking and managing individual test executions within the system."
                                        },
                                        "validate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`validate_time` is the time limit for vulnerability validation. It can be used for preventing validation processes from consuming excessive resources, ensuring system efficiency and responsiveness."
                                        },
                                        "!validate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!validate_time` is the time limit set for request validation. It can be used for preventing validation processes from taking too long, ensuring efficient and timely request handling."
                                        },
                                        "invalidate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`invalidate_time` is the period after which a vulnerability record becomes invalid. It can be used for maintaining the accuracy of security assessments by preventing reliance on outdated vulnerability data."
                                        },
                                        "!invalidate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!invalidate_time` is the duration after which vulnerability data is considered outdated. It can be used to ensure that vulnerability information remains current and relevant within the specified timeframe."
                                        },
                                        "time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`time` is a timestamp indicating when vulnerability data was detected or updated. It can be used for filtering records within a specific timeframe, ensuring precise and relevant query results."
                                        },
                                        "!time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!time` is a timestamp marking when a specific event occurred. It can be used for precise tracking and correlating events, enhancing security incident analysis."
                                        },
                                        "threat": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`threat` is an optional parameter indicating the severity level of a detected vulnerability. It can be used for prioritizing remediation efforts and visually representing risk levels on the Wallarm web interface."
                                        },
                                        "!threat": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!threat` is the threat level of a detected vulnerability. It can be used for prioritizing remediation efforts based on severity."
                                        },
                                        "method": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`method` is the specified HTTP method for the request. It can be used for defining the exact operation, such as fetching or modifying vulnerability information."
                                        },
                                        "!method": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!method` is the HTTP method linked to the detected vulnerability. It can be used for pinpointing the exact request type that caused the vulnerability, enhancing targeted vulnerability management and remediation efforts."
                                        },
                                        "domain": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`domain` is the specific domain name linked to the vulnerability. It can be used for precise identification and management of security threats associated with that domain."
                                        },
                                        "!domain": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!domain` is the domain name for filtering security rules. It can be used for applying tailored security policies or detecting domain-specific vulnerabilities."
                                        },
                                        "path": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`path` is the specific location or endpoint within the API. It can be used for directing the API request to the correct resource or operation."
                                        },
                                        "!path": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!path` is the targeted API endpoint path. It ensures accurate request inspection and alignment with API specifications and security policies."
                                        },
                                        "parameter": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`Parameter` is an input field linked to a detected vulnerability. It can be used for pinpointing and filtering vulnerabilities associated with specific parameters in your system."
                                        },
                                        "!parameter": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!parameter` is a specific parameter within the request body. It can be used for refining the vulnerability detection criteria and enhancing the precision of the API response."
                                        },
                                        "pool": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`pool` is a designated group of resources for vulnerability management. It can be used for organizing and assessing vulnerabilities within specific resource sets, enhancing targeted mitigation strategies."
                                        },
                                        "!pool": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!pool` is a parameter representing a specific group or category of vulnerabilities. It can be used for organizing and filtering detected vulnerabilities based on predefined criteria or categories."
                                        },
                                        "scid": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`scid` is a unique identifier for a security context. It can be used for tracking and managing vulnerabilities within that context, ensuring accurate and organized security assessments."
                                        },
                                        "!scid": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!scid` is a unique identifier for a specific security context. It can be used for correlating security events or vulnerabilities, ensuring accurate tracking and management of security issues."
                                        },
                                        "vuln_recheck_type": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`vuln_recheck_type` is the type of vulnerability recheck to be performed. It can be used for ensuring accurate vulnerability assessment and management by specifying the nature of the recheck."
                                        },
                                        "!vuln_recheck_type": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!vuln_recheck_type` is the type of vulnerability recheck specified. It can be used for organizing and displaying recheck types in the Wallarm interface, enhancing vulnerability management and tracking."
                                        },
                                        "hidden": {
                                            "type": "boolean",
                                            "description": "`hidden` is a boolean flag indicating data concealment. It can be used for safeguarding sensitive information from exposure in logs or reports."
                                        },
                                        "!hidden": {
                                            "type": "boolean",
                                            "description": "`!hidden` is a flag for concealing sensitive parameters. It can be used for enhancing security by preventing the display or logging of certain sensitive data in API responses."
                                        },
                                        "validated": {
                                            "type": "boolean",
                                            "description": "`validated` is a boolean flag indicating vulnerability review status. It can be used for filtering results to display only validated or pending vulnerabilities, enhancing result relevance."
                                        },
                                        "!validated": {
                                            "type": "boolean",
                                            "description": "`!validated` is a boolean flag indicating vulnerability review status. It can be used for filtering results to display only those that have been validated or are pending review."
                                        },
                                        "type": {
                                            "type": "string",
                                            "enum": [
                                                "info",
                                                "xss",
                                                "sqli",
                                                "rce",
                                                "ssrf",
                                                "mass_assignment",
                                                "csrf",
                                                "xxe",
                                                "ptrav",
                                                "crlf",
                                                "redir",
                                                "nosqli"
                                            ],
                                            "description": "`type` is the identified data format or general data type for the parameter. It ensures that values are correctly passed and processed."
                                        },
                                        "!type": {
                                            "type": "string",
                                            "description": "`!type` is the identified data format or general type of the parameter. It can be used for ensuring parameter values conform to expected formats, enhancing data integrity and security during vulnerability detection."
                                        },
                                        "target": {
                                            "type": "string",
                                            "enum": [
                                                "client",
                                                "database",
                                                "server"
                                            ],
                                            "description": "`target` is the specific entity or resource being assessed for vulnerabilities. It can be used for directing the vulnerability scan to a particular domain, application, or API endpoint within the system."
                                        },
                                        "!target": {
                                            "type": "string",
                                            "description": "`!target` is the specific element assessed for vulnerabilities. It can be used for directing the scan to a particular target, ensuring focused and relevant security checks."
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "open",
                                                "closed",
                                                "falsepositive"
                                            ],
                                            "description": "`status` is the current state of the detected vulnerability. It can be used for managing and tracking the vulnerability's lifecycle, ensuring timely actions are taken."
                                        },
                                        "!status": {
                                            "type": "string",
                                            "description": "`!status` is the HTTP status code indicating the request outcome. It can be used for confirming the success or failure of the vulnerability detection process and for debugging purposes."
                                        },
                                        "preset": {
                                            "type": "string",
                                            "enum": [
                                                "owasp_api2_2019",
                                                "owasp_api3_2019",
                                                "owasp_api5_2019",
                                                "owasp_api7_2019",
                                                "owasp_api8_2019",
                                                "owasp_api2_2023",
                                                "owasp_api3_2023",
                                                "owasp_api5_2023",
                                                "owasp_api6_2023",
                                                "owasp_api7_2023",
                                                "owasp_api10_2023"
                                            ],
                                            "description": "Preset is a deployment configuration for Wallarm. It can be used to specify the deployment type, such as 'proxy' or 'mirror', allowing for tailored setups based on specific requirements."
                                        }
                                    },
                                    "description": "`filter` is a customizable set of conditions for querying vulnerability data. It can be used for retrieving specific results by defining criteria such as client ID, test run ID, validation status, and time range."
                                },
                                "offset": {
                                    "default": 0,
                                    "type": "integer",
                                    "format": "unsigned int",
                                    "description": "Offset is a numerical value indicating the starting point for data retrieval. It can be used for pagination to specify where to begin fetching records from a dataset."
                                },
                                "limit": {
                                    "default": 100,
                                    "type": "integer",
                                    "format": "unsigned int",
                                    "description": "`limit` is the maximum number of requests allowed within a specified timeframe. It can be used for controlling the rate of incoming requests to prevent abuse and ensure fair usage of resources."
                                },
                                "order_by": {
                                    "default": "id",
                                    "enum": [
                                        "id",
                                        "clientid",
                                        "pool",
                                        "time",
                                        "validate_time",
                                        "invalidate_time",
                                        "template",
                                        "vuln_recheck_type",
                                        "type",
                                        "status",
                                        "target",
                                        "threat",
                                        "method",
                                        "domain",
                                        "path",
                                        "parameter",
                                        "scid",
                                        "hidden",
                                        "validated",
                                        "testrun_id"
                                    ],
                                    "description": "`order_by` is the field chosen for sorting the results. It can be used for arranging vulnerability data in a preferred sequence, improving clarity and analysis effectiveness."
                                },
                                "order_desc": {
                                    "default": false,
                                    "type": "boolean",
                                    "description": "`order_desc` is a boolean parameter for descending order sorting. It ensures vulnerability objects are returned in reverse sequence according to the specified criterion."
                                },
                                "language": {
                                    "default": null,
                                    "type": "string",
                                    "description": "`language` is the programming language specified for vulnerability assessment. It ensures the evaluation process applies the correct syntax and context."
                                }
                            }
                        },
                        "description": "`body` is the JSON payload with detailed vulnerability information. It can be used for submitting new vulnerability data to the system, enabling thorough analysis and effective tracking."
                    }
                ],
                "tags": [
                    "V1",
                    "Vulnerabilities"
                ],
                "responses": {
                    "200": {
                        "description": "Returns vulnerabilities",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Vuln": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`id` is a unique identifier for a specific vulnerability. It can be used for accurate referencing and effective tracking within the system."
                                        },
                                        "wid": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`wid` is a unique identifier for the vulnerability object. It can be used for tracking and ensuring accurate referencing of specific vulnerabilities within the system."
                                        },
                                        "template": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`template` is a predefined format for organizing response data. It ensures consistent and standardized output across different responses."
                                        },
                                        "threat": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`threat` is an optional parameter indicating the severity level of a detected vulnerability. It can be used for prioritizing remediation efforts based on the potential risk posed by the vulnerability."
                                        },
                                        "clientid": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`clientid` is a unique identifier for a Wallarm account. It can be used for specifying which account's data to access or modify in API calls."
                                        },
                                        "testrun_id": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`testrun_id` is a unique identifier for a specific test run. It can be used for correlating vulnerability reports with the corresponding test execution, ensuring accurate tracking and analysis of security assessments."
                                        },
                                        "validate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`validate_time` is the duration taken to validate an object. It can be used for monitoring performance and optimizing the validation process."
                                        },
                                        "invalidate_time": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`invalidate_time` is the period after which vulnerability data is considered outdated. It ensures that security assessments are based on current and relevant vulnerability information."
                                        },
                                        "last_check": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`last_check` is the timestamp of the latest vulnerability scan. It can be used for monitoring the recency of security assessments and ensuring regular system checks."
                                        },
                                        "ticket_status": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`ticket_status` indicates the current state of the vulnerability ticket. It can be used for monitoring the progress and resolution of the identified vulnerability within the system."
                                        },
                                        "ticket_history": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`ticket_history` is a log of past actions and updates on a vulnerability. It helps in monitoring the progress and effectiveness of security issue resolutions."
                                        },
                                        "method": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`method` is the HTTP method used during vulnerability detection. It helps pinpoint the exact request type that caused the vulnerability, enhancing targeted remediation efforts."
                                        },
                                        "domain": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Domain is the web address or name linked to the API request. It can be used for categorizing and analyzing traffic specific to certain websites or services."
                                        },
                                        "path": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`path` is the URL path where the vulnerability was detected. It can be used for accurately identifying the specific location of the security issue within your system."
                                        },
                                        "parameter": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`parameter` is a specific data point linked to the detected vulnerability. It can be used for pinpointing the exact location or component within the system where the vulnerability was found, facilitating precise remediation efforts."
                                        },
                                        "title": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`title` is the descriptive name assigned to a detected vulnerability. It can be used for identifying specific vulnerabilities or the extensions that detected them in Wallarm's interface."
                                        },
                                        "description": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`description` is a string detailing the detected vulnerability. It can be used for enhancing understanding and facilitating effective remediation of the identified issue."
                                        },
                                        "additional": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`additional` is supplementary data related to the detected vulnerability. It can be used for providing extra context or details that enhance the overall understanding of the security issue."
                                        },
                                        "exploit_example": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "- The generated text has been blocked by our content filters."
                                        },
                                        "filter": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`filter` defines specific conditions for retrieving vulnerability data. It can be used for refining results based on criteria like client ID, test run ID, validation status, and timestamps."
                                        },
                                        "validated": {
                                            "type": "boolean",
                                            "description": "`validated` is a Boolean indicating vulnerability review status. It can be used for filtering results to display only validated or pending vulnerabilities, enhancing result relevance."
                                        },
                                        "hidden": {
                                            "type": "boolean",
                                            "description": "`hidden` is a Boolean parameter indicating vulnerability visibility status. It can be used for managing which vulnerabilities are displayed, ensuring users focus on active threats needing immediate attention."
                                        },
                                        "vuln_recheck_type": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`vuln_recheck_type` is the method for re-evaluating a detected vulnerability. It can be used for ensuring that Wallarm accurately assesses and updates security statuses."
                                        }
                                    },
                                    "description": "Vuln is a detected security vulnerability with detailed attributes. It can be used for evaluating risk levels and implementing necessary mitigation strategies."
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/incorrect_params"
                    },
                    "403": {
                        "$ref": "#/responses/not_authentificated"
                    },
                    "default": {
                        "$ref": "#/responses/unexpected_error"
                    }
                }
            }
        },
        "/v1/objects/hit/raw": {
            "post": {
                "summary": "Fetch rawhits",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "properties": {
                                        "clientid": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`clientid` is a unique identifier for a specific Wallarm account. It can be used for ensuring that API requests access the correct account's data in a multi-tenant environment."
                                        },
                                        "!clientid": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!clientid` is a unique identifier for the Wallarm account or tenant. It can be used for specifying which account's data to access in multi-tenant API requests, ensuring accurate and secure data retrieval."
                                        },
                                        "id": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`id` is a unique identifier for a specific object. It can be used for accurately referencing and retrieving the corresponding data within the system."
                                        },
                                        "!id": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!id` is a unique identifier for a specific object. It can be used for accurately referencing and retrieving detailed information about that object within the system."
                                        }
                                    },
                                    "description": "`filter` is a parameter that specifies the data structure or content type for analysis. It can be used for parsing specific elements like arrays, hash tables, or JWT tokens, enhancing the accuracy of the API's analysis."
                                }
                            }
                        },
                        "description": "`body` is the serialized malicious request including original payload and additional metadata. It can be used for detailed analysis and response to security threats detected by the system."
                    }
                ],
                "tags": [
                    "V1",
                    "Attacks"
                ],
                "responses": {
                    "200": {
                        "description": "Returns rawhits",
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/incorrect_params"
                    },
                    "403": {
                        "$ref": "#/responses/not_authentificated"
                    },
                    "default": {
                        "$ref": "#/responses/unexpected_error"
                    }
                }
            }
        },
        "/v1/objects/hit/mark_false": {
            "post": {
                "summary": "Mark hit as falsepositive",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "properties": {
                                        "clientid": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`clientid` is a unique identifier for a tenant. It can be used for distinguishing between multiple tenants, ensuring accurate data management and security within Wallarm's multi-tenant environment."
                                        },
                                        "!clientid": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "description": "`!clientid` is the unique identifier for a tenant or client. It can be used for isolating and managing specific tenant data within a multi-tenant environment."
                                        },
                                        "id": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`id` is a unique identifier for a specific hit or event. It can be used for accurately marking individual hits as false positives within an attack group."
                                        },
                                        "!id": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "`!id` is a unique identifier for a specific object. It can be used for accurately marking the object as false or invalid within the system."
                                        }
                                    },
                                    "description": "`filter` is a condition or criteria parameter for processing requests. It can be used for refining targeted data, ensuring only relevant information is acted upon or returned."
                                }
                            }
                        },
                        "description": "`body` is the essential data payload for marking a hit as a false positive. It can be used for providing specific details or identifiers to ensure accurate processing of the request."
                    }
                ],
                "tags": [
                    "V1",
                    "Attacks"
                ],
                "responses": {
                    "200": {
                        "description": "Marked as false"
                    },
                    "400": {
                        "$ref": "#/responses/incorrect_params"
                    },
                    "403": {
                        "$ref": "#/responses/not_authentificated"
                    },
                    "default": {
                        "$ref": "#/responses/unexpected_error"
                    }
                }
            }
        },
        "/v2/hit/details": {
            "get": {
                "summary": "Fetch a rawhit details",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "type": "string",
                        "description": "`id` is a unique identifier for a specific hit or event. It can be used for retrieving detailed information about that particular hit from the system."
                    }
                ],
                "tags": [
                    "V2",
                    "Attacks"
                ],
                "responses": {
                    "200": {
                        "description": "Returns rawhit details",
                        "schema": {
                            "type": "object",
                            "required": [
                                "remote_addr",
                                "remote_port",
                                "server_addr",
                                "server_port",
                                "method",
                                "proto",
                                "uri",
                                "headers",
                                "body"
                            ],
                            "properties": {
                                "remote_addr": {
                                    "type": "string",
                                    "example": "1.1.1.1",
                                    "description": "`remote_addr` is the client's IP address making the request. It can be used for tracking, logging, and security analysis to identify the origin of the traffic."
                                },
                                "remote_port": {
                                    "type": "string",
                                    "example": "80",
                                    "description": "`remote_port` is the originating port number of the incoming request. It helps in pinpointing traffic sources and assessing security risks based on port usage."
                                },
                                "server_addr": {
                                    "type": "string",
                                    "example": "1.1.1.1",
                                    "description": "`server_addr` is the IP address of the server processing the request. It can be used for monitoring server performance, troubleshooting network issues, and ensuring proper request routing."
                                },
                                "server_port": {
                                    "type": "string",
                                    "example": "443",
                                    "description": "`server_port` is the designated port number for server communication. It can be used for configuring network settings and resolving connectivity issues efficiently."
                                },
                                "method": {
                                    "type": "string",
                                    "enum": [
                                        "GET",
                                        "PUT",
                                        "POST",
                                        "PATCH",
                                        "DELETE",
                                        "CONNECT",
                                        "OPTIONS",
                                        "TRACE"
                                    ],
                                    "description": "`method` is the HTTP method used, such as GET or POST. It can be used for understanding the action performed in the request, ensuring proper handling and security measures."
                                },
                                "proto": {
                                    "type": "string",
                                    "example": "https",
                                    "description": "`proto` is the communication protocol used. It ensures compatibility and proper handling of the request or response."
                                },
                                "uri": {
                                    "type": "string",
                                    "example": "/v2/hit/details",
[...]
